					

                    <div class="page-content-wrapper ">

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-3">

                                                    <h4 class="m-t-5 m-b-15">Created Events</h4>
                                                    <form method="post" id="add_event_form" class="m-t-5">
                                                        <input type="text" class="form-control new-event-form" placeholder="Add new event..." />
                                                    </form>

                                                    <div id='external-events'>
                                                        <h4 class="m-b-15">Draggable Events</h4>
                                                        <div class='fc-event'>My Event 1</div>
                                                        <div class='fc-event'>My Event 2</div>
                                                        <div class='fc-event'>My Event 3</div>
                                                        <div class='fc-event'>My Event 4</div>
                                                        <div class='fc-event'>My Event 5</div>
                                                    </div>
                                                    <!-- checkbox -->
                                                    <div class="checkbox checkbox-custom">
                                                        <input id="drop-remove" type="checkbox">
                                                        <label for="drop-remove">
                                                            Remove after drop
                                                        </label>
                                                    </div>

                                                </div>

                                                <div id='calendar' class="col-md-9 col-lg-10"></div>

                                            </div>
                                            <!-- end row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                        </div><!-- container -->

                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->